/*全局*/
*{
	margin:0;
	padding: 0; 
}
body{
	width: 100%;
	height: auto;
}
.head{
	width: 100%;
	height: 1700px;
	background: #C2CCD1;
	font-size: 30px;
}
.head-btu{
	width: 80%;
	height: 500px;
	margin: 0 auto;

}
.head-btu table{
	width: 100%;
	height: 300px;
}
.foot-list{
	position:fixed;
	bottom: 0px;
	width: 100%;
	height: 105px;
	background-color: #CCCCCC;
}
.foot-list ul li{
	list-style-type: none;
	float: left;
	line-height: 105px;
	border-left:1px #fff solid;
	border-bottom:1px #fff solid;
	border-top:1px #fff solid;
	width: 20%;
	box-sizing: border-box;
	text-align:center;
	background-color: #333366;
}
.foot-list ul li a{
	text-decoration: none;
	color: #fff;
	font-size: 40px;
}